<!DOCTYPE html>
<html>
  <%- include('../partials/head') %>
</html>

<body>
  <div class="container-fluid">
    <div class="row">
      <%- include('../partials/sidebar') %>

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="
            d-flex
            justify-content-between
            flex-wrap flex-md-nowrap
            align-items-center
            pt-3
            pb-2
            mb-3
            border-bottom
          "
        >
          <h1 class="h2"><%= title %></h1>
        </div>

        <form action="/teams" method="POST">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" name="name" class="form-control" id="name" />
          </div>
          <div class="mb-3">
            <label for="shortName" class="form-label">Short Name</label>
            <input type="text" name="shortName" class="form-control" id="shortName" />
          </div>
          <div class="mb-3">
            <label for="homeCity" class="form-label">Home City</label>
            <input type="text" name="homeCity" class="form-control" id="homeCity" />
          </div>
          <div class="input-group mb-3">
            <label class="input-group-text" for="sport">Sport</label>
            <select class="form-select" id="sport" name="sport">
              <option selected>Choose...</option>
              <% if(sports.length > 0) { %>
                <% sports.forEach(sport => { %>
                  <option value="<%= sport.id %>" ><%= sport.sport_name %> </option>
                <% }); %>
              <% } %>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </main>
    </div>
  </div>
</body>
